@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');


body {
  background-color:darkslategray;
  color: lightgreen;
  /* background-color:cornflowerblue; */
  /* border: solid 3px blue; */
  width: 80%;
  height: 70%;
  /* font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.timer {
 display: flex;
 flex-direction: column;
 font-size: 20vh;
 margin-top: 0;
 margin-bottom: 0;

}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  font-size: 4vh;
  height: 80%;
  font-family: 'Orbitron', sans-serif;
 }

 #minutes {
  margin: auto;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 10vh;
  /* border: 7px rebeccapurple solid; */
  border: 7px darkgreen solid;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: ghostwhite;
 }

 .button {
  border: 7px darkgreen solid;
  /* border: 7px rebeccapurple solid; */
  margin-top: 5%;
  font-family: 'Orbitron', sans-serif;
  border-radius: 5%;
  font-size: 5vh;
 }